body{
    background-color: rgb( 255, 229, 204)

}


.first {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
    height: 120%;
    background-color: rgb(224, 224, 224);
    
    
    }
    
    .second {
        width: 50%;
        position: absolute;
        left: 45%;
        top: 10%;
        height: 120%;
        background-color: white;
        
    
    
    }

.photoF{
    margin-top: 12%; margin-left: 30%;
    width: 30%; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px

}

.name{
    margin-top: 20%; margin-left: 15%;
    font-family: fantasy;
    color: chocolate;

}

.contact{
    margin-top: 10%; margin-left: 35%;
    font-family: fantasy;
    color: darkgoldenrod;
    text-decoration:underline;

}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: indianred;
    font-family: fantasy;

}

.seznam{
    margin-top: 10%; margin-left: 12%;

}

.nadpispopis{
    margin-top: 10%;
    margin-left: 40%;
    font-family: fantasy;
    text-decoration:underline;

}


.text{
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    text-align: center;

}

.prac{
    margin-top: 10%;
    margin-left: 40%;
    font-family: fantasy;

}

.pop{
    text-align: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
    max-width: 80%;

}

ul li{
    padding-bottom: 2%;

}

h3{

    font-family: fantasy;
    margin-left: 10%;
}

.seznamd{
    margin-left: 7%;
    list-style-type: disc;


}

.j{
    width: 5%;

}



