body{
    background-color: rgb( 255, 229, 204);


}


.first {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 350px;
    height: 1000px;
    background-color: rgb(224, 224, 224);
    
    
    }
    
    .second {
        width: 550px;
        position: absolute;
        left: 550px;
        top: 10px;
        height:1000px;
        background-color: white;
        
    
    
    }

.photoF{
    margin-top: 40px; margin-left: 70px;
    width: 200px; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px

}

.name{
    margin-top: 20px; margin-left: 17px;
    font-family: fantasy;
    color: chocolate;
    font-size: 30px;

}

.contact{
    margin-top: 10px; margin-left: 35px;
    font-family: fantasy;
    color: darkgoldenrod;
    text-decoration:underline;

}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: indianred;
    font-family: fantasy;

}

.seznam{
    margin-top: 10px; margin-left: 12px;

}

.nadpispopis{
    margin-top: 15px;
    margin-left: 40px;
    font-family: fantasy;
    text-decoration:underline;

}


.text{
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    text-align: center;

}

.prac{
    margin-top: 40px;
    margin-left: 200px;
    font-family: fantasy;

}

.pop{
    text-align: left;
    margin-top: 3px;
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 500px;

}

ul li{
    padding-bottom: 10px;

}

h3{

    font-family: fantasy;
    margin-left: 20px;
}

.seznamd{
    margin-left: 7px;
    list-style-type: disc;


}

.j{
    width: 15px;

}



